In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt

In [2]:
file = "By City Typical Home Value.csv"

In [3]:
df=pd.read_csv(file)
df.head(100)

    RegionID  SizeRank   RegionName Average House 2020
0       6181         0     New York       $535,891.61
1      12447         1  Los Angeles       $713,112.18
2      39051         2      Houston       $192,784.58
3      17426         3      Chicago       $226,676.80
4       6915         4  San Antonio       $192,655.20
..       ...       ...          ...                ...
95    398849        96      Madison       $293,644.23
96     18298        97     Glendale       $281,518.73
97     32900        98       Mobile       $126,894.91
98     52650        99       Irvine       $875,885.84
99      3737       100        Boise       $377,361.85

[100 rows x 4 columns]

In [4]:
df2=df.dropna()
df2=df.dropna(axis=0)
df2=df.dropna().reset_index(drop=True)
df2=df.dropna(how='all')
df2=df.dropna(subset=['Average House 2020'])
df2.head(2613)

      RegionID  SizeRank       RegionName Average House 2020
0         6181         0         New York       $535,891.61
1        12447         1      Los Angeles       $713,112.18
2        39051         2          Houston       $192,784.58
3        17426         3          Chicago       $226,676.80
4         6915         4      San Antonio       $192,655.20
...        ...       ...              ...                ...
2608     14889      2665           Cheney       $302,489.03
2609     21186      2666   Webster Groves       $308,104.06
2610     51636      2667           Dallas       $332,017.21
2612     39577      2669          Malvern        $81,098.42
2613      5838      2670  Massapequa Park       $536,071.49

[2613 rows x 4 columns]