In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt

In [2]:
file = "By City Typical Home Value.csv"

In [3]:
df=pd.read_csv(file)
df.head(100)

    Region ID State Name  Region Name Average House 2020
0      6181.0         NY     New York       $535,891.61
1     12447.0         CA  Los Angeles       $713,112.18
2     39051.0         TX      Houston       $192,784.58
3     17426.0         IL      Chicago       $226,676.80
4      6915.0         TX  San Antonio       $192,655.20
..        ...        ...          ...                ...
95   398849.0         CA      Madison       $293,644.23
96    18298.0         WI     Glendale       $281,518.73
97    32900.0         AZ       Mobile       $126,894.91
98    52650.0         AL       Irvine       $875,885.84
99     3737.0         CA        Boise       $377,361.85

[100 rows x 4 columns]

In [4]:
df2=df.dropna()
df2=df.dropna(axis=0)
df2=df.dropna().reset_index(drop=True)
df2=df.dropna(how='all')
df2=df.dropna(subset=['Average House 2020'])
df2.head(2613)

      Region ID State Name      Region Name Average House 2020
0        6181.0         NY         New York       $535,891.61
1       12447.0         CA      Los Angeles       $713,112.18
2       39051.0         TX          Houston       $192,784.58
3       17426.0         IL          Chicago       $226,676.80
4        6915.0         TX      San Antonio       $192,655.20
...         ...        ...              ...                ...
2608    14889.0         OH           Cheney       $302,489.03
2609    21186.0         MD   Webster Groves       $308,104.06
2610    51636.0         TX           Dallas       $332,017.21
2612    39577.0         OR          Malvern        $81,098.42
2613     5838.0         FL  Massapequa Park       $536,071.49

[2613 rows x 4 columns]

In [6]:
df2["Average House 2020"] = df2["Average House 2020"].replace("[$,]", "", regex=True).astype(float)
df2.groupby(["State Name"])["Average House 2020"].mean()

C:\Users\k3net\AppData\Local\Temp\ipykernel_27920\1430376347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Average House 2020"] = df2["Average House 2020"].replace("[$,]", "", regex=True).astype(float)

State Name
AK    197070.338500
AL    238680.465900
AR    234249.456540
AZ    264997.216688
CA    270515.353973
CO    233918.030731
CT    237047.910000
DC    586893.330000
DE    230750.481346
FL    266911.834896
GA    240484.337307
HI    238363.856393
IA    208588.527779
ID    222192.449557
IL    216374.782012
IN    213797.940729
KS    200256.852023
KY    228726.826879
LA    253511.451434
MA    253641.566925
MD    249550.592465
ME    186551.093039
MI    233941.453472
MN    219008.279521
MO    219704.172660
MS    246949.109898
MT    191012.822889
NC    251709.244299
ND    236804.979826
NE    184843.216810
NH    201078.242372
NJ    274533.733822
NM    244159.682773
NV    277547.424286
NY    245280.875817
OH    238230.618988
OK    193976.668020
OR    228513.361412
PA    226733.423030
RI    251933.778810
SC    235088.551538
SD    207394.279664
TN    229880.167351
TX    224061.732245
UT    235886.690541
VA    223274.968993
VT    182360.086587
WA    248881.719022
WI    215148.267504
WV    202427.918147
WY    190309.985357
Name: Average House 2020, dtype: float64

In [ ]:
price_city = df2.groupby[]["Average House 2020"]
ax = price_city.plot(kind="bar", color= ["red"])
ax.set_xlabel("Region")
ax.set_ylabel("Average House 2020")
plt.rcParams['figure.figsize'] = [10, 5]
plt.title("Average Price of Home by City(2020)")
plt.show()

TypeError: unhashable type: 'DataFrame'